@import "tailwindcss";

@theme {
  --color-sanctuary-blue: #1A365D;
  --color-alabaster: #F9F8F6;
  --color-charcoal-slate: #2D3748;
  --color-brushed-gold: #C5A059;
  --color-ember-crimson: #9B1C1C;
}